@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lexend:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



* {
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  background-color: rgb(0, 56, 73);
}

text {
  font-family: "Montserrat", serif;
  font-size: 13px;
  font-weight: 600;
}

.container {
  display: flex;
  gap: 10px;
  width: 100%;
  
}


/* Menu Lateral */
.menu-lateral {
  background-color: rgb(0, 68, 88);
  width: 200px;
  color: white;
  padding: 10px;
  min-height: 100%;
  max-height: 150%;
}


.menu-lateral p {
  text-align: center;
  margin-top: 10px;
}

.menu-lateral select {
  display: flex;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 80px;
  text-align: center;
  border: none;
  color: white;
  background-color: rgb(0, 68, 88);
  cursor: pointer;
}

.menu-lateral ul {
  margin-top: 25px;
  list-style: none;
  text-align: center;
  
}
.menu-lateral ul li:hover {
  transition: .5s;
  border-bottom: #ddd 1px solid;
}

.menu-lateral ul li {
  margin-bottom: 25px;
  border: rgb(0, 68, 88) 1px solid;
  transition: .5s;
}

.menu-lateral ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu-opcoes {
  margin-top: 100%; 
}



.lista {
  width: 95%;
  background-color: white;
  margin-top: 5px;
  min-height: 50%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  font-family: "Montserrat", serif;
}

.lista::-webkit-scrollbar {
  width: 8px;
}

.lista::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
} 

.lista::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} 


#tabela {
  border-collapse: collapse;
  width: 90%;
  font-family: "Montserrat", serif;
}

th {
  width: 100px;
}
td {
  width: 100px;
  font-size: 13px;
}

#tabela th, #tabela td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 600;
}

#tabela th {
  background-color: #f4f4f4;
  text-align: center;
}



.campo-adicional {
  background-color: white;
  margin-top: 20px;
  width:  95%;
  border-radius: 8px;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 



.totalizadores {
  display: flex;
  margin-top: 10px;
  gap: 100px;
  width: 100%;
  justify-content: center;
}



.modalEditarON {
    position: absolute;
    background-color: rgba(2, 113, 146, 0.973);
    padding: 20px;
    border-radius: 20px;
    width: 900px;
    height: 600px;
    top: 50%;                 
    left: 50%;                 
    transform: translate(-50%, -50%);
}


.modalOFF {
    display: none;
}

.editarFormulario {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    padding: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.editarFormulario input, .editarFormulario select, .editarFormulario button {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    transition: .4s;
}

.fecharModalEdicao{
  background-color: transparent;
  color: white;
  width: 100px;
  border: transparent;
  /* color: white; */
  /* padding: 8px 16px; */
  /* border-radius: 5px; */
  font-size: 16px;
  cursor: pointer;
  /* float: right; */
  transition: .4s;
  border-bottom: #ddd  2px solid;
}

.fecharModalEdicao:hover {
  border-bottom: #ddd 2px solid;
  width: 110px;
  transition: .4s;
}


  .modalEditarON label {
    color: white;
    font-weight: bold;
  }

  input:disabled {
      background-color: #f0f0f0;
      cursor: not-allowed;
  }



  button {
      cursor: pointer;
      font-weight: bold;
  }

  #excluirRegistro {
      background-color: #f44336;
      color: white;
      border: none;
  }

  #salvarEdicao {
      background-color: #4CAF50;
      color: white;
      border: none;
  }

  #excluirRegistro:hover {
      background-color: #d32f2f;
  }

  #salvarEdicao:hover {
      background-color: #45a049;
  }

  i {
      transition: .2s;
  }

  i:hover {
    
      scale: 1.1;
      transition: .2s;
  }


  .ajuste-tela {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* background-color: yellow; */
  }

  #downloadJson {
    opacity: 0;
  }


  .menu-lateral label {
      display: inline-block;
      /* background-color: #4CAF50; */
      /* color: white; */
      /* padding: 10px 0px; */
      border: none;
      /* border-radius: 5px; */
      cursor: pointer;
      margin-bottom: 20px;
      border-bottom: solid 1px transparent;
      margin-top: 15px;
      font-size: 15px;
    }

.menu-lateral label:hover {
    border-bottom: solid 1px white;
    transition: .4s;
    
  }

  input[type="file"] {
    display: none; /* Esconde o botão original */
  }


  .opcoes {
    display: none;
    opacity: 0;
  }

  #outros {
    cursor: pointer;
  }


  #totalR {
    border-bottom: #4caf4f solid 3px;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    padding: 4px;
    cursor: pointer;
    transition: .6s;
  }
  
  #totalR:hover {
    background-color: #4caf4f;
    scale: 1.01;
    transition: .6s;
    color: white;
    border-radius: 30px;
  }

  path {
    cursor: pointer;
  }

  #totalD {
    border-bottom: rgb(192, 4, 4) solid 3px;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    padding: 4px;
    cursor: pointer;
    transition: .6s;  
  }

  #totalD:hover {
    background-color:rgb(192, 4, 4) ;
    color:white;
    scale: 1.01;
    transition: .6s;
    border-radius: 30px;
  }

  .pesquisa {
    width: 100px;
    height: 22px;
    border: none;
    outline: none;
    border: black 1px solid;
    padding: 1px 7px;
    border-radius: 10px;
  }

  .pesquisa-select {
    width: 100px;
    height: 22px;
    border: none;
    outline: none;
    border: black 1px solid;
    padding: 1px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
  }

